<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="acme.camunda" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="io.netty" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="INFO"/>
</configuration>

